*{
    font-family: helvetica;
    color:  seashell;
    opacity: 0.9;
    background-color: black;
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: space-between;
    height: 69px;
    width: 1240px;
    align-items: center;
    border-bottom: solid 1px;
    position: fixed;
    top: 0px;
    
}

header img{
    height: 50px;
    padding: 10px;
}

#navbar{
    font-size: 22px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.container-1{
    margin-top: 70px;
    background-image: url(./resources/img-mission-background.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1{
    height: 80px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
